<header class="header header-dark">
    <img src="https://i.annihil.us/u/prod/misc/marvel.svg" alt="" class="marvel-icon" />
    <span class="clear-area"></span>
    <div class="container">
        <div class="input-addon">
            <input class="input" type="text" placeholder="Search character..." ng-model="search" ng-keyup="goSearch()" />
            <span class="input-addon-button"></span>
        </div>
    </div>
    <span class="clear-area"></span>
</header>
<section class="section">
    <div ui-view>
    </div>
</section>
<div class="footer header-dark">
    <div class="footer-content">
        <span class="content">Grability 2016 - Todos los derechos reservados</span>
        <span class="clear-area"></span>
        <img class="img" src="icons/grability-logo.png" alt="Grability Logo">
    </div>

</div>